@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
.nav a {
  text-decoration: none;
}
.nav {
  height: 70px;
  background: grey;
  position: relative;

}
.nav > ul1 {
  position: absolute;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav > ul {
  position: absolute;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav > ul > li > ul {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav > ul > li:hover > ul li a {
  opacity: 1;
  height: 50px;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.nav > ul > li > ul a {
  display: block;
  color: #222;
  width: 150px;
  line-height: 50px !important;
  font: 700 14px "pt sans", sans-serif;
  background: #eee;
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 0 5px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear 0.2s;
  -o-transition: all 0.3s linear 0.2s;
  -moz-transition: all 0.3s linear 0.2s;
  -webkit-transition: all 0.3s linear 0.2s;
}
.nav > ul > li {
  float: left;
  position: relative;
}
.nav > ul1 > li {
  float: left;
  position: relative;
}
.nav > ul > li > a {
  padding: 0 20px;
  color: #fff;
  display: block;
  line-height: 70px !important;
  font: 400 15px "PT Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.nav > ul1 > li > a {
  padding: 0 20px;
  color: #fff;
  display: block;
  line-height: 70px !important;
  font: 400 35px "Train One", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
footer{background: grey;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;} /*фон подвала */
        .social-icons ul{
            list-style: none;
            display: flex;
            justify-content: center;
        }
        .social-icons ul li a span {
        color: #000;
        width: 34px;
        background: #fff;
        height: 34px;
        text-align: center;
        line-height: 34px;
        border-radius: 20px;
        font-size: 13px;
        margin: 0px 2px;
        border-radius: 20px;
        font-size: 14px;
        margin: 0px 2px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        -moz-transition: 0.5s all;
        }
        .social-icons ul li a span:hover{color:#0ccbf1;}
        .copy-bottom-txt p{font-size:18px;
        color:#fff;
        }
        .social-icons ul li:nth-child(2){
            margin: 0 10px;
        }
        .copy-bottom-txt p a {
        font-size: 18px;
        color:#000;
        letter-spacing: 1px;
        transition: .4s;
        }
        .copy-bottom-txt p a:hover {
        color: #000;
        text-decoration: underline;
        padding-top: 4px;
        font-weight: 700;
        }
